<div class="bg-gray-800 rounded-xl p-6 max-w-lg">
  <div class="gap-4">
    <h1 class="text-3xl font-bold mb-4"><%= @event.title %></h1>
    <p class="text-gray-300 mb-2"><%= @event.description %></p>
    <p class="text-gray-400 text-sm mb-1"><%= @event.date %></p>
    <p class="text-gray-400 text-sm mb-4"><%= @event.location %></p>

    <div class="mt-4 flex gap-3">
        <% if user_signed_in? && current_user == @event.creator %>
        <%= link_to "Edit", edit_event_path(@event), class: "text-blue-400 hover:underline px-4 py-2" %>
        <%= link_to "Delete", event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-400 hover:underline px-4 py-2" %>
        <% else %>
        <% if user_signed_in? && @event.attendees.include?(current_user) %>
            <%= link_to "Cancel Attendance", event_registration_path(@event, @registration), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-400 hover:underline" %>
        <% elsif user_signed_in? %>
            <%= link_to "Join Event", event_registrations_path(@event), data: { turbo_method: :post }, class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded transition-colors" %>
        <% else %>
            <%= link_to "Sign up to join", new_user_session_path, class: "text-blue-400 hover:underline" %>
        <% end %>
        <% end %>
    </div>
  </div>

  <div class="mt-4 flex gap-3">
    <h1 class="text-2xl font-bold">People Attending</h1>
    <div class="flex gap-2">
      <% @event.attendees.each do |attendee| %>
        <span class="bg-gray-700 px-2 py-1 rounded-full text-sm"><%= attendee.name %></span>
      <% end %>
    </div>
  </div>
</div>
